/*.demo div {
	background-color: #BDBDBD;
	color: white;
    height: 200px;
    padding-left: 8px;
    padding-top: 4px;
}*/

footer p {
	text-align: center;
	width: 100%;
}

.dark-card > .mdl-card__title {
  color: #fff;
  background: #2E2E2E;
}

.error-card > .mdl-card__title {
	background-color: #C62828;
	color: #fff;
}

.dark-card > .mdl-card__menu, .error-card > .mdl-card__menu {
	color: #fff;
}

.game-card > .mdl-card__title {
  height: 150px;
}

.game-card .game-card-description {
	text-align: justify;
}

.wide-card {
	width: 100%;
}

.word-wrap {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mdl-progress {
	width: 100%;
}