.demo div {
	background-color: #BDBDBD;
	color: white;
    height: 200px;
    padding-left: 8px;
    padding-top: 4px;
}

footer p {
	text-align: center;
	width: 100%;
}

.mdl-layout__header * {
	/*background-color: #2E2E2E;*/
}

.demo-card-wide {
	width: 100%;
}